nav.navbar{
	background-color: #0C5390;
}
.navbar-default .navbar-brand { 
	color: white;	
 	font-size: 150%;
 }
 .navbar-default .navbar-nav > li > a { 
  	color: #D7DBDD; 
  	border-style: none;
 }
body{
	background-color: #A9B8F7;
}
iframe{
	width:100%;
	height:360px;
	border-style: none;
	margin-top: 2%;
	border: 0;
}
.espacio{
	margin-top: 8%;
}
.espacio2{
	margin-top: 3%;
	margin-bottom: 2%;
}
.caja{
	background-color: #0C5390;
	width: 80%;
	margin-left: 8%;
	color: white;
	padding: 2%;
	box-shadow: 5px 4px 3px #0E012C;
	font-size: 20px;
	text-shadow: 5px 4px 3px #0E012C;
}
.blanco{
	background-color: #D9DDFA;
}
.azul{
	color: #0C5390;
	font-size: 200%;
	text-align: center; 
}
.thumbnail{
	background-color: #0C5390;
}
img{
	width: 100%;
}
footer{
	background-color: #1C5DAD;
	padding: 1%;
	color: white;
}
.efecto img {
	border: 2px solid #eee;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.efecto img:hover {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-7deg);
}
.icono{
	background-color: white;
}
#im1{
	background-image: url("../img/14088815_834626480006246_1848000107_n.jpg");
}